@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  direction: flex;
  text-align: center;
  background: gray;
  width: 200px;
  height: 10rem;
  margin: 3rem 3rem 3rem 3rem;

}

.click-button {
  background: gray;
width: 7rem;
height: 3rem;

}

@media (max-width: 500px) {
  .container {
    background: red;
    width: 300px;
    margin: 1rem 3rem 3rem 3rem;
  }
  .main-container {
    flex-direction: column;
  }
  .click-button {
    background: darkgray;
    width: 18rem;
  }
}
